body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus, a:hover {
  color: #f09228;
  text-decoration: none;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

h1, h2, h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}
